.home {
  display: flex;

  .homeContainer {
    flex: 6;

    .widgets {
      padding: 20px;
    }
  
    .widgets p {
      font-size: 20px;
      line-height: 1.6;
      margin-bottom: 20px;
    }
    

  }
}
